html{
    font-size: 100%;
}

#body{
    background-color: #e6ffff;
}

#titulo{
    color: #25089c;
    text-align: center;
    font-family: fantasy;
}

#titulo_tabela{
    text-align: center;
}

#rodape{
    font-size: medium;
    text-align: center;
}

#zanini{
    border: 2px solid black ;
    margin-left: 30px;

}

#maua {
    width:100%;
    height: auto;
    min-width: 360px;
    min-height: 240px;
}

.caixa1{
    display: inline-block;
    width: 50%;
    height: 550px;
    min-width: 360px;
}

.caixa2{
    display: inline-block;
    width: 40%;
    height: 400px;
    min-width: 360px;
}

.topicos {
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.subtitulo{
    font-family: fantasy;
}

.tabela{
    background-color: #b1d2fa;
    text-align: justify;
    width: 300px;
}

.texto{
    margin-left: 12px;
    margin-right: 12px;
    text-align: justify;
    font-size: large;
}

.img {
    display: inline-block;
    width: 100%;
    height: auto;
    max-height:250px ;
    max-width:1000px ;
}

.centro{
    text-align: center;
}





