<!--Main text-->

<div class="container">
  <p class="text-justify">
    O Instituto Mauá de Tecnologia - IMT, fundado em 11 de dezembro de 1961, é
    uma entidade de direito privado - associação sem fins lucrativos - de
    utilidade pública, dedicada ao ensino e à pesquisa científica e tecnológica,
    visando à formação de recursos humanos altamente qualificados que contribuam
    para o desenvolvimento do País.
  </p>
</div>

<!--Fim do Main text-->

<!--Cartoes-->

<div class="container">
  <app-curso-cadastro
    (cursoAdicionada)="onAdicionarCurso($event)"
  ></app-curso-cadastro>
  <div class="row">
    <div class="col-xl-4 col-md-6 col-sm-12" *ngFor="let curso of cursos">
      <app-curso-cartao [curso]="curso"></app-curso-cartao>
    </div>
  </div>
</div>

<!--Fim dos Cartoes-->

<!--Footer-->

<nav aria-label="breadcrumb" class="container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Home</li>
  </ol>
</nav>

<!--Fim do Footer-->
