<!--Main text-->

<div class="container">
  <p class="text-justify">
    O Instituto Mauá de Tecnologia - IMT, fundado em 11 de dezembro de 1961, é
    uma entidade de direito privado - associação sem fins lucrativos - de
    utilidade pública, dedicada ao ensino e à pesquisa científica e tecnológica,
    visando à formação de recursos humanos altamente qualificados que contribuam
    para o desenvolvimento do País.
  </p>
</div>

<!--Fim do Main text-->

<!-- Cards de informação -->
<div class="container">
  <div class="row">
    <div class="col-xl-4 col-md-6 col-sm-12 d-flex align-items-stretch">
      <div class="card" style="width: 30rem;">
        <img
          src="https://maua.br/img/upload/092018/administracao-14102942.png"
          alt="Administração"
        />
        <div class="card-body">
          <h5 class="card-title">Administração</h5>
          <p class="card-text">
            O Administrador Mauá é um profissional preparado para atuar, sempre
            como líder, nos mais diversos mercados de trabalho: instituições
            financeiras, empresas de serviços, consultorias, comércio varejista
            ou atacadista e indústrias de diversos segmentos, como
            Automobilístico, Eletroeletrônico, Alimentício, entre outros. Os
            alunos desenvolvem, ao longo do curso, capacitação e treinamento
            para a tomada de decisões e para a resolução de problemas de gestão
            empresarial.
          </p>
        </div>
        <div class="card-footer text-muted">
          4 anos de duração
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-md-6 col-sm-12 d-flex align-items-stretch">
      <div class="card" style="width: 30rem;">
        <img
          src="https://maua.br/img/upload/092018/design-14102950.png"
          alt="Imagem
aleatória"
        />
        <div class="card-body">
          <h5 class="card-title">Design</h5>
          <p class="card-text">
            O curso de Design da Mauá, oferecido desde 2007, possui nota máxima
            no MEC, tem conquistado seu espaço no mundo acadêmico e já deixa sua
            marca de qualidade no mercado. Por meio de uma importante
            convivência com a tecnologia e os negócios, num ambiente bem
            estruturado, com professores comprometidos e bem preparados,
            apresenta um currículo arrojado e um projeto pedagógico
            atualizadíssimo; Vem formando Designers talentosos e atendendo às
            demandas do mercado.
          </p>
        </div>
        <div class="card-footer text-muted">
          4 anos de duração
        </div>
      </div>
    </div>

    <div
      class="col-xl-4 col-md-6 col-sm-12 d-flex align-items-stretch mt-3 mt-xl-0"
    >
      <div class="card" style="width: 30rem;">
        <img
          src="https://maua.br/img/upload/092018/engenharia-alimentos-14103003.png"
          alt="Administração"
        />
        <div class="card-body">
          <h5 class="card-title">Engenharia de Alimentos</h5>
          <p class="card-text">
            A área de produção de alimentos vem se desenvolvendo e a cada dia
            cresce a necessidade de profissionais especializados para atender
            essa demanda. O engenheiro de alimentos pode atuar nas mais diversas
            áreas relacionadas à cadeia alimentícia: Produção Industrial,
            Desenvolvimento de Produtos, Otimização de Processos, Garantia da
            Qualidade, Consultoria, Fiscalização ou até mesmo nas áreas
            comerciais e de marketing de produtos alimentícios.
          </p>
        </div>
        <div class="card-footer text-muted">
          5 anos de duração
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-md-6 col-sm-12 d-flex align-items-stretch mt-3">
      <div class="card" style="width: 30rem;">
        <img
          src="https://maua.br/img/upload/092018/engenharia-civil-14103012.png"
          alt="Imagem
aleatória"
        />
        <div class="card-body">
          <h5 class="card-title">Engenharia Civil</h5>
          <p class="card-text">
            O curso tem uma área de atuação ampla que exige do profissional uma
            formação diversificada e pronto para atender obras distintas:
            construção de edifícios residenciais, ferrovias, aeroportos ou faça
            o planejamento de sistemas de saneamento básico para cidades,
            podendo trabalhar com arquitetos e ambientalistas em grandes
            construções.
          </p>
        </div>
        <div class="card-footer text-muted">
          5 anos de duração
        </div>
      </div>
    </div>
  </div>
</div>

<!--Footer-->
<nav aria-label="breadcrumb" class="container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Home</li>
  </ol>
</nav>

<!--Fim do Footer-->
