<!--Main text-->

<div class="container">
  <h3>Nosso corpo docente</h3>
  <p class="text-justify">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet laborum sunt
    minus tempora voluptatum delectus, odit ex deleniti! Deleniti harum at
    reiciendis ipsum repellendus? Deleniti quia vitae vel animi quod. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Modi quae doloribus sunt
    ratione dolorem iusto reprehenderit, a, consequatur deserunt beatae tempora!
    Illo optio reiciendis inventore perferendis accusamus ipsum, vitae
    praesentium?
  </p>
  <p class="text-justify">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet laborum sunt
    minus tempora voluptatum delectus, odit ex deleniti! Deleniti harum at
    reiciendis ipsum repellendus? Deleniti quia vitae vel animi quod. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Modi quae doloribus sunt
    ratione dolorem iusto reprehenderit, a, consequatur deserunt beatae tempora!
    Illo optio reiciendis inventore perferendis accusamus ipsum, vitae
    praesentium?
  </p>
</div>

<!--Fim do Main text-->

<!-- tabela -->
<div class="container">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Nome do Professor(a)</th>
        <th>Currículo Lattes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Rodrigo Bossini Tavares Moreira</td>
        <td>
          <a
            href="http://di.cnpq.br/di/cadi/infoInstituicao.do?acao=buscaDadosInst&nroIdInst=693785"
            >Currículo</a
          >
        </td>
      </tr>
      <tr>
        <td>José Carlos</td>
        <td>
          <a
            href="http://di.cnpq.br/di/cadi/infoInstituicao.do?acao=buscaDadosInst&nroIdInst=693785"
            >Currículo</a
          >
        </td>
      </tr>
      <tr>
        <td>Everson Denis</td>
        <td>
          <a
            href="http://di.cnpq.br/di/cadi/infoInstituicao.do?acao=buscaDadosInst&nroIdInst=693785"
            >Currículo</a
          >
        </td>
      </tr>
      <tr>
        <td>Murilo Zanini de Carvalho</td>
        <td>
          <a
            href="http://di.cnpq.br/di/cadi/infoInstituicao.do?acao=buscaDadosInst&nroIdInst=693785"
            >Currículo</a
          >
        </td>
      </tr>
      <tr>
        <td>
          Angelo Sebastiao Zanini
          <span class="badge badge-primary" style="background-color: #00293f;"
            >Coordenador</span
          >
        </td>
        <td>
          <a
            href="http://di.cnpq.br/di/cadi/infoInstituicao.do?acao=buscaDadosInst&nroIdInst=693785"
            >Currículo</a
          >
        </td>
      </tr>
      <tr>
        <td>Afonso Carlos Braga</td>
        <td>
          <a
            href="http://di.cnpq.br/di/cadi/infoInstituicao.do?acao=buscaDadosInst&nroIdInst=693785"
            >Currículo</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>

<nav aria-label="breadcrumb" class="container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="main.html">Home</a></li>
    <li class="breadcrumb-item active">Infos</li>
  </ol>
</nav>
